.a-popup{
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode:backwards;
}

@keyframes popup {
    from{
        opacity:0;
        transform: translateY(2rem);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.a-show-modal{
    animation-name: showModal;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
}

@keyframes showModal {
    from{
        filter: blur(0.5rem);
    }
    to{
        filter: blur(0);
    }
}


