@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

*:focus{
    outline: 0.5rem dashed var(--font-color-black);
}

:root{
 /* Used colors */
 --font-color-black: #000000;
 --font-color-white: #FFFFFF;
 --font-link-color: #7D7D7D;
 --color-header-border-progress-background: #E5E5E5;
 --color-year-heading: rgb(224, 223, 223);
 --color-white: #FFFFFF;

}

html{
    font-size: 62.5%; /* so that 1em and 1rem = 10px on default settings */
}

body{
    background: var(--color-white);
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--font-color-body);
    max-width: 100vw;
}



.u-heading-2{
    color: var(--font-color-white);
    font-size: 2.4rem;
    line-height: 2.9rem;
}