.detailPlane{
    width:calc(100% - 8rem);
    margin-left: 4rem;
    display:grid;
    grid-template-columns: repeat(24, minmax(0,1fr));
    grid-auto-rows: 10rem;
    max-width:200rem;
    margin: 0 auto;
    margin-top: 6rem;
    min-height:75vh;
}

.detailPlane__figure{
    grid-column: 1 / span 10;
    grid-row: 1 / span 6;
    /*needed for bugs on older devices*/
    overflow: hidden;
    position:relative;
}

.detailPlane__button{
    position:absolute;
    bottom:4rem;
    left:20%;
    padding:2rem;
    border:none;
    background: rgba(0,0,0,0.75);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}
 
.detailPlane__button:hover{
    cursor:pointer;
    background: rgba(230, 230, 230,0.75);
}

.detailPlane__button:focus{
    /* outline is different than default outline */
    outline: 0.5rem dashed var(--font-color-white);
}
.detailPlane__buttonLogo{
    margin-right: 1rem;
}
.detailPlane__buttonText{
    color: var(--color-white);
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
    transform: translateY(0.11rem);
}
.detailPlane__image{
    height:100%;
    width:100%;
    object-fit: contain;
}

.detailPlane__figcaption{
    background: var(--color-white);
    grid-row: 1 / span 3;
    grid-column: 7 / span 9;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    /* needed to come on top of figure */
    z-index: 1;
}

.detailPlane__heading{
    padding-left: 6rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 5.6rem;
    line-height: 6.4rem;
    font-weight: 700;
    width:100%;
}

.detailPlane__subheading{
    padding-left:6rem;
    padding-top:4rem;
    font-family: 'Libre Baskerville', serif;
    font-weight:400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: var(--font-link-color);
}

.detailPlane__artist{
    grid-column: 11/ span 3;
    grid-row: 6 / span 2;
    padding-left:4rem;
    transition: 0.4s filter;
}

.detailPlane__artist:hover{
    filter: grayscale(1);
}

.detailPlane__about{
    grid-row: 2 / span 4;
    grid-column: 16 / 25;
    padding-left: 4rem;
}

.detailPlane__text{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--font-link-color);
}

.detailPlane__year{
    grid-column: 16 / 25;
    grid-row: 1 / span 1;
    padding-left:4rem;
}

.detailPlane__yearHeading{
    font-family: 'Libre Baskerville', serif;
    font-size: 20rem;
    font-weight: 700;
    line-height: 15rem;
    color: var(--color-year-heading);
}

.detailPlane__link{
    font-family: 'Libre Baskerville', serif;
    font-weight:700;
    /* increased from 0.9 to 1.2 of original design */
    font-size: 1.2rem;
    line-height: 1.1rem;
    letter-spacing: 0.2rem;
    color: var(--font-link-color);
    text-transform:uppercase;
    transition: color 0.2s;
    display:block;
    margin-top: 8rem;
}

.detailPlane__link:hover{
    color: var(--font-color-black);
}


/* from here on tablet 1700 */
@media screen and (max-width: 106.25rem){
    .detailPlane__figure{
        grid-column: 1 / span 16;
        grid-row: 1 / 6;
    }
    .detailPlane__figcaption{
        grid-column: 8 / 25;
        grid-row: 1 / 4;
    }

    .detailPlane__heading{
        width:90%;
    }
    
    .detailPlane__subheading{
        width:90%;
    }

    .detailPlane__year{
        grid-row: 6 / 8;
        grid-column: 1 / -1;
        padding-top:2rem;
    }
    .detailPlane__about{
        grid-row: 7 / 12;
        grid-column: 4 / -4;
    }

    .detailPlane__artist{
        grid-column: 17 / span 1;
        grid-row: 4 / span 1;
    }
    .detailPlane__yearHeading{
        font-size: 1200%;
     }

     .detailPlane__button{
        position:absolute;
        bottom:5%;
        left:10%;
    }
}

/* landscape tablet */
@media screen and (max-width: 106.25rem) and (orientation: landscape){
    .detailPlane__button{
        position:absolute;
        bottom:13%;
        left:23%;
    }
}

/* landscape tablet */
@media screen and (max-width: 106.25rem) and (orientation: portrait){
    .detailPlane__button{
        position:absolute;
        bottom:7%;
        left:20%;
    }
}


/* from here on mobile */

/* 1000px */
@media screen and (max-width: 62.5rem) {
    .detailPlane{
        padding:3rem; 
        margin-left:0;
        width:100%;
        margin-top: 2rem;
    }
    .detailPlane__figure{
        grid-column: 1 / -1;
        grid-row: 1 / 4;
        padding-left:0;
    }

    .detailPlane__figure > img{
        object-fit: contain;
    }
    .detailPlane__figcaption{
        grid-column: 1 / -5;
        grid-row: 3 /6; 
        box-shadow: none; 
    }

    .detailPlane__heading{
        margin:0;
        padding-left:2rem;
        width:100%;
        font-size: 200%;
        line-height: 1.3;
        width:90%;
        padding-top:2rem;
    }

    .detailPlane__subheading{
        padding:0;
        padding-left: 2rem;
        padding-top:2rem;
        width:90%;

    }
    .detailPlane__artist{
        grid-row:  4 / span 2;
        grid-column: 2 / span 15;
        padding-left:0;
        padding-top: 4rem;
        z-index: 1;
        transform: scale(0.5) translateX(-50%);
    }

    .detailPlane__year{
        grid-column: 5 / -1;
        grid-row:  5/ span 2;
        padding:0;
        z-index: 1;
        padding-top: 1rem;
    }

    .detailPlane__yearHeading{
       font-size: 10rem;
    }
    .detailPlane__about{
        grid-column: 1 / -1;
        grid-row:  6 / span 6;
        padding-left:2rem;
        padding-top: 1rem;
        z-index: 2;
    }

    .detailPlane__button{
        left:2rem;
        top:5rem;
        bottom:auto;
    }
}

/* landscape mobile */
@media screen and (max-width: 62.5rem) and (orientation: landscape) {
    .detailPlane__button{
        left:10rem;
        top:5rem;
        bottom:auto;
    }
}

