.detailPlane{
    margin-top: 6rem;
    width:calc(100% - 8rem);
    margin-left: 4rem;
    display:grid;
    grid-template-columns: repeat(24, minmax(0,1fr));
    grid-auto-rows: 10rem;
}

.detailPlane__figure{
    grid-column: 1 / span 7;
    grid-row: 1 / span 6;
    object-fit: cover;
}

.detailPlane__image{
    height:100%;
    width:100%;
}

.detailPlane__figcaption{
    background: var(--color-white);
    grid-row: 1 / span 3;
    grid-column: 7 / span 8;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);

}

.detailPlane__heading{
    padding-left: 8rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 5.6rem;
    line-height: 6.4rem;
    font-weight: 700;
    width:60%;
}

.detailPlane__subheading{
    padding-left:8rem;
    padding-top:4rem;
    font-family: 'Libre Baskerville', serif;
    font-weight:400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: var(--font-link-color);
}

.detailPlane__artist{
    grid-column: 8 / span 3;
    grid-row: 6 / span 2;
    padding-left:4rem;
}

.detailPlane__about{
    grid-row: 2 / span 4;
    grid-column: span 6;
    padding-left: 4rem;
}

.detailPlane__text{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--font-link-color);
}

.detailPlane__year{
    grid-column: span 9;
    grid-row: span 1;
    padding-left:4rem;
}

.detailPlane__yearHeading{
    font-family: 'Libre Baskerville', serif;
    font-size: 20rem;
    font-weight: 700;
    line-height: 15rem;
    color: var(--color-year-heading);
}

.detailPlane__source{
    grid-row: 6 / span 1;
    grid-column: 15 / span 3;
}

.detailPlane__link{
    padding-left: 4rem;
    padding-top: 6.4rem;
    display:block;
    font-family: 'Libre Baskerville', serif;
    font-weight:700;
    /* increased from 0.9 to 1.2 of original design */
    font-size: 1.2rem;
    line-height: 1.1rem;
    letter-spacing: 0.2rem;
    color: var(--font-link-color);
    text-transform:uppercase;
}