.footer{
    height:8rem; 
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}

.footer__headers{
   display:flex;
   flex-direction: column;
   gap: 1rem;
}

.footer__paintingHeader{
    font-family: 'Libre Baskerville', serif;
    color: var(--font-color-black);
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.footer__artistHeader{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
    opacity:0.75;
}

.footer__buttons{
    display:flex;
    gap: 4rem;
}

.footer__button{
    background: none;
    outline:none;
    border:none;
    transition: 0.2s opacity;
}

.footer__button:hover{
    opacity:0.5;
    cursor:pointer;
}


/* footer disabled button modifiers*/
.footer__button--disabled{
    opacity: 0.15;
}

.footer__button--disabled:hover{
    opacity: 0.15;
    cursor: not-allowed;
}
