ul{
    list-style: none;
    min-height: 120rem;
 
}
.grid{
    max-width: 200rem;
    margin:0 auto;
    gap: 4rem;
    padding: 4rem;
    display:grid;
    grid-template-columns: repeat(24,minmax(0,1fr));
    grid-auto-rows: 10rem;
} 

/* mobile 1000px */
@media screen and (max-width: 62.5rem) {
    .grid{
        gap:0;
        grid-row-gap: 4rem;
        grid-auto-rows: 17rem; /* needed for not showing right around 800px */
    }
}

@media screen and (max-width: 37.5rem){
    .grid{
        grid-auto-rows: 10rem; /* needed for not showing right around 800px */
    }
}
