ul{
    list-style: none;
    min-height: 120rem;
 
}
.grid{
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(24,minmax(0,1fr));
    grid-template-rows: repeat(auto-fit,10rem); 
    grid-auto-rows: 10rem;
} 


