ul{
    list-style: none;
    min-height: 120rem;
 
}
.grid{
    max-width: 150rem;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(24,minmax(0,1fr));
    grid-template-rows: repeat(24,10rem); 
} 
