.header{
    height:10%; 
    width:100%;
    padding:4rem;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header::after{
    content:"";
    height:100%;
    position:absolute;
    top:0;
    left:4rem;
    right:4rem;
    border-bottom: 0.1rem solid var(--color-header-border-progress-background); 
    z-index: -1;
}

.header__start_slideshow{
    display:block;
    font-family: 'Libre Baskerville', serif;
    font-weight:700;
    text-transform:uppercase;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.257rem;
    color: var(--font-link-color);
    text-decoration: none;
    transition: color 0.2s;
}

.header__logo{
    width:100%;
    height:100%;
}

.header__logo > img{
    height:100%;
    width:100%;
}

.header__start_slideshow:hover{
    color: var(--font-color-black);
} 

@media screen and (max-width: 62.5rem) {
    .header{
        padding: 2rem 4rem;
    }
    .header__logo{
        flex-basis:5%;
        margin-right:2rem;
    }
    .header__slideshow{
        flex-basis:95%;
        display:flex;
        justify-content: flex-end;
    }
}
