/* formula: longest in proceeding row (height)  * -1 (for going up) + own height. Translate this and you have a massionar grid */
/* own height can be obtained with translateY(100%) */

.painting{
}

.painting__figure{
    width:100%;
    height:100%;
}


.painting__image{
    width:100%;
    height:100%;
    object-fit: cover;
}

.starry{
    grid-column: 1 / span 6;
    grid-row: 1 / span 3;
}

.girl{
    grid-column: 7 / span 6;
    grid-row: 1 / span 6;
}

.guernica{
    grid-column: 13 / span 6;
    grid-row: 1 / span 4;
}

.penitent{
    grid-column: 19 / span 6;
    grid-row: 1 / span 3;
}

.storm{
    grid-row: 4 / span 5;
    grid-column: 1 / span 6;
}

.wave{
    grid-row: 7 / span 4;
    grid-column: 7 / span 6;
}

.gogh{
    grid-column: 13 / span 6;
    grid-row: 5 / span 7;
}

.sleeping{
    grid-column: 19 / span 6;
    grid-row: 4 / span 3;
}

.lady{
    grid-column: 1 / span 6;
    grid-row: 9 / span 6; 
}

.cafe{
    grid-column: 7 / span 6;
    grid-row: 11 / span 3;
}

.mona{
    grid-column: 13 / span 6;
    grid-row: 12 / span 6;
}

.basket{
    grid-column: 19 / span 6;
    grid-row:  7 /  span 6;
}

.boy{
    grid-column: 1 / span 6;
    grid-row: 15 / span 3;
}

.portrait{
    grid-column: 7 / span 6;
    grid-row: 14 / span 4;
}

.swing{
    grid-column: 19 / span 6;
    grid-row: 13 / span 5;
}

/* tablet, 1400px */
@media screen and (max-width: 87.5rem) {
    .painting{
        grid-column: span 12;
        grid-row: auto;
    }

    .starry{
        grid-row: span 3;
    }
    
    .girl{
        grid-row: span 6;
    }
    
    .guernica{
        grid-row: span 4;
    }
    
    .penitent{
        grid-row: span 3;
    }
    
    .storm{
        grid-row: span 5;
    }
    
    .wave{
        grid-row: span 4;
    }
    
    .gogh{
        grid-row: span 8;
    }
    
    .sleeping{
        grid-row: span 4;
    }
    
    .lady{
        grid-row: span 6; /*not sure */ 
        grid-column: 1 / span 12;
    }
    
    .cafe{
        grid-row: 18 / span 4;
        grid-column: 13 / span 12;
    }
    
    .mona{
        grid-row: span 6;
    }
    
    .basket{
        grid-row: span 6;
    }
    
    .boy{
        grid-row: span 4;
    }
    
    .portrait{
        grid-row: span 5
    }
    
    .swing{
        grid-row: span 4;
    }
}

/* mobile 800px */
@media screen and (max-width: 50rem) {
    .painting{
        grid-column: span 24;
    }

    .starry{
        grid-row: span 2;
    }
    
    .girl{
        grid-row: span 4;
    }
    
    .guernica{
        grid-row: span 2;
    }
    
    .penitent{
        grid-row: span 2;
    }
    
    .storm{
        grid-row: span 3;
    }
    
    .wave{
        grid-row: span 2;
    }
    
    .gogh{
        grid-row: span 4;
    }
    
    .sleeping{
        grid-row: span 2;
    }
    
    .lady{
        grid-row: span 3;  
    }
    
    .cafe{
        grid-row: span 2;
    }
    
    .mona{
        grid-row: span 4;
    }
    
    .basket{
        grid-row: span 4;
    }
    
    .boy{
        grid-row:  span 3;
    }
    
    .portrait{
        grid-row: span 3;
    }
    
    .swing{
        grid-row: span 3;
    }
    
 
}
