.painting{
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

/* Overlay which is shown on Hover, needed z-index because the gradient of the CardOverlay needs to be on top! */
.painting::after{
    content:"";
    height:100%;
    width:100%;
    background: var(--color-white);
    position: absolute;
    /* Changes to 0.5 on hover */
    opacity:0;
    top:0;
    left:0;
    z-index: 0;
    transition: 0.2s opacity;
}

.painting:hover:after{
    opacity:0.5;
    cursor:pointer;
}
.painting__figure{
    width:100%;
    height:100%;
}


.painting__image{
    width:100%;
    height:100%;
    object-fit: cover;
}

.painting--starry-night{
    grid-column: 1 / span 6;
    grid-row: 1 / span 3;
}

.painting--girl-with-a-pearl-earring{
    grid-column: 7 / span 6;
    grid-row: 1 / span 5;
}

.painting--guernica{
    grid-column: 13 / span 6;
    grid-row: 1 / span 4;
}

.painting--penitent-magdalene{
    grid-column: 19 / span 6;
    grid-row: 1 / span 3;
}

.painting--the-storm-on-the-sea-of-galilee{
    grid-row: 4 / span 4;
    grid-column: 1 / span 6;
}

.painting--the-great-wave-off-kanagawa{
    grid-row: 6 / span 3;
    grid-column: 7 / span 6;
}

.painting--van-gogh-self-portrait{
    grid-column: 13 / span 6;
    grid-row: 5 / span 5;
}

.painting--the-sleeping-gypsy{
    grid-column: 19 / span 6;
    grid-row: 4 / span 3;
}

.painting--lady-with-an-ermin{
    grid-column: 1 / span 6;
    grid-row: 8 / span 4; 
}

.painting--the-night-café{
    grid-column: 7 / span 6;
    grid-row: 9 / span 3;
}

.painting--the-basket-of-apples{
    grid-column: 19 / span 6;
    grid-row:  7 /  span 5;
}

.painting--the-boy-in-the-red-vest{
    grid-column: 1 / span 6;
    grid-row: 12 / span 3;
}

.painting--arnolfini-portrait{
    grid-column: 7 / span 6;
    grid-row: 12 / span 3;
}

.painting--mona-lisa{
    grid-column: 13 / span 6;
    grid-row: 10 / span 5;
}

.painting--the-swing{
    grid-column: 19 / span 6;
    grid-row: 12 / span 3;
}

/* tablet, 1400px, 2 paintings at a time */
@media screen and (max-width: 110rem) {
    .painting{
        grid-column: span 12;
        grid-row: auto;
    }

    .painting--starry-night{
        grid-row: span 3;
    }
    
    .painting--girl-with-a-pearl-earring{
        grid-row: span 5;
    }
    
    .painting--guernica{
        grid-row: span 3;
    }
    
    .painting--penitent-magdalene{
        grid-row: span 3;
    }
    
    .painting--the-storm-on-the-sea-of-galilee{
        grid-row: span 4;
    }
    
    .painting--the-great-wave-off-kanagawa{
        grid-row: span 3;
    }
    
    .painting--van-gogh-self-portrait{
        grid-row: span 6;
    }
    
    .painting--the-sleeping-gypsy{
        grid-row: span 3;
    }
    
    .painting--lady-with-an-ermin{
        grid-row: span 5; /*not sure */ 
        grid-column: 1 / span 12;
    }
    
    .painting--the-night-café{
        grid-row: 15 / span 3;
        grid-column: 13 / span 12;
    }
    .painting--the-basket-of-apples{
        grid-row: span 5;
    }

    .painting--the-boy-in-the-red-vest{
        grid-row: span 4;
    }

    .painting--arnolfini-portrait{
        grid-row: span 5;
    }

    .painting--mona-lisa{
        grid-row: span 6;
    }
    
    .painting--the-swing{
        grid-row: span 4;
    }
}

/* mobile 1000px, 1 painting at a time */
@media screen and (max-width: 62.5rem) {
    .painting{
        grid-column: span 24;
    }

    .painting--starry-night{
        grid-row: span 2;
    }
    
    .painting--girl-with-a-pearl-earring{
        grid-row: span 4;
    }
    
    .painting--guernica{
        grid-row: span 3;
    }
    
    .painting--penitent-magdalene{
        grid-row: span 2;
    }
    
    .painting--the-storm-on-the-sea-of-galilee{
        grid-row: span 3;
    }
    
    .painting--the-great-wave-off-kanagawa{
        grid-row: span 3;
    }
    
    .painting--van-gogh-self-portrait{
        grid-row: span 4;
    }
    
    .painting--the-sleeping-gypsy{
        grid-row: span 2;
    }
    
    .painting--lady-with-an-ermin{
        grid-row: span 4;  
    }
    
    .painting--the-night-café{
        grid-row: span 2;
    }
    
    .painting--the-basket-of-apples{
        grid-row: span 4;
    }

    .painting--the-boy-in-the-red-vest{
        grid-row:  span 2;
    }
    
    .painting--arnolfini-portrait{
        grid-row: span 3;
    }
    
    .painting--mona-lisa{
        grid-row: span 4;
    }
    
    .painting--the-swing{
        grid-row: span 3;
    }
}
