.painting{
    position: relative;
}

.painting__figure{
    width:100%;
    height:100%;
}


.painting__image{
    width:100%;
    height:100%;
    object-fit: cover;
}

.starry{
    grid-column: 1 / span 6;
    grid-row: 1 / span 3;
}

.girl{
    grid-column: 7 / span 6;
    grid-row: 1 / span 5;
}

.guernica{
    grid-column: 13 / span 6;
    grid-row: 1 / span 4;
}

.penitent{
    grid-column: 19 / span 6;
    grid-row: 1 / span 3;
}

.storm{
    grid-row: 4 / span 4;
    grid-column: 1 / span 6;
}

.wave{
    grid-row: 6 / span 3;
    grid-column: 7 / span 6;
}

.gogh{
    grid-column: 13 / span 6;
    grid-row: 5 / span 5;
}

.sleeping{
    grid-column: 19 / span 6;
    grid-row: 4 / span 3;
}

.lady{
    grid-column: 1 / span 6;
    grid-row: 8 / span 4; 
}

.cafe{
    grid-column: 7 / span 6;
    grid-row: 9 / span 3;
}

.mona{
    grid-column: 13 / span 6;
    grid-row: 10 / span 5;
}

.basket{
    grid-column: 19 / span 6;
    grid-row:  7 /  span 5;
}

.boy{
    grid-column: 1 / span 6;
    grid-row: 12 / span 3;
}

.portrait{
    grid-column: 7 / span 6;
    grid-row: 12 / span 3;
}

.swing{
    grid-column: 19 / span 6;
    grid-row: 12 / span 3;
}

/* tablet, 1400px, 2 paintings at a time */
@media screen and (max-width: 87.5rem) {
    .painting{
        grid-column: span 12;
        grid-row: auto;
    }

    .starry{
        grid-row: span 3;
    }
    
    .girl{
        grid-row: span 5;
    }
    
    .guernica{
        grid-row: span 3;
    }
    
    .penitent{
        grid-row: span 3;
    }
    
    .storm{
        grid-row: span 4;
    }
    
    .wave{
        grid-row: span 3;
    }
    
    .gogh{
        grid-row: span 6;
    }
    
    .sleeping{
        grid-row: span 3;
    }
    
    .lady{
        grid-row: span 5; /*not sure */ 
        grid-column: 1 / span 12;
    }
    
    .cafe{
        grid-row: 15 / span 3;
        grid-column: 13 / span 12;
    }
    
    .mona{
        grid-row: span 6;
    }
    
    .basket{
        grid-row: span 5;
    }
    
    .boy{
        grid-row: span 4;
    }
    
    .portrait{
        grid-row: span 5
    }
    
    .swing{
        grid-row: span 4;
    }
}

/* mobile 1000px, 1 painting at a time */
@media screen and (max-width: 62.5rem) {
    .painting{
        grid-column: span 24;
    }

    .starry{
        grid-row: span 2;
    }
    
    .girl{
        grid-row: span 4;
    }
    
    .guernica{
        grid-row: span 3;
    }
    
    .penitent{
        grid-row: span 2;
    }
    
    .storm{
        grid-row: span 3;
    }
    
    .wave{
        grid-row: span 3;
    }
    
    .gogh{
        grid-row: span 4;
    }
    
    .sleeping{
        grid-row: span 2;
    }
    
    .lady{
        grid-row: span 4;  
    }
    
    .cafe{
        grid-row: span 2;
    }
    
    .mona{
        grid-row: span 3;
    }
    
    .basket{
        grid-row: span 4;
    }
    
    .boy{
        grid-row:  span 2;
    }
    
    .portrait{
        grid-row: span 3;
    }

    .mona{
        grid-row: span 4;
    }
    
    .swing{
        grid-row: span 3;
    }
}
